{% extends './base.html' %}

{% block title %}messages page{% endblock %}

{% block contents %}

<link rel ="stylesheet" href="{{url_for('static',filename='style.css')}}">

<div>
    <br>
    <br>

        <h2 class="titulo">Mensajes de la comunidad</h2>

    <div>
        <table id="messages">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Mensaje</th>
            </tr>
            {% for message in messagesList %}
            <tr>
                <td>{{ message["id"] }}</td>
                <td>{{ message["firstname"] }}</td>
                <td>{{ message["lastname"] }}</td>
                <td>{{ message["email"] }}</td>
                <td>{{ message["message"] }}</td>
            </tr>
            {% endfor %}
            
        </table>
        <img src="./static/log.jpg" alt="logo personal">  
    </div>
    
 </div>


{% endblock %}